@model City
@{ Layout = "_Layout"; }

<form method="post">
    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="form-group">
        <label asp-for="Country">Country:</label>
        <input class="form-control" asp-for="Country" />
    </div>
    <div class="form-group">
        <label asp-for="Population">Population:</label>
        <input class="form-control" asp-for="Population" />
    </div>
    <formbutton type="submit" bg-color="danger">Add</formbutton>
    <formbutton type="reset"/>
    <a bs-button-color="secondary" asp-action="Index">Cancel</a>
</form>